.auth_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 700px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  align-items: center;
  background-color: #fff;

  position: absolute; /* or fixed */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .auth_form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;

    .auth_header {
      font-weight: 700;
      font-size: 22px;
      text-align: center;
      margin-bottom: 35px;
    }
    .auth_footer {
      a {
        color: #37afe1;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    > form {
      display: flex;
      flex-direction: column;
      padding: 0px 40px;
      gap: 10px;
      // .ant-input-affix-wrapper {
      //   width: 400px;
      // }
      button {
        width: 100%;
        margin: 0px auto;
        border: none;
        background: #37afe1;
        color: #fffecb;
        height: 40px;
        font-size: 16px;
        &:hover {
          background: #4cc9fe;
          color: #f5f4b3;
        }
      }
    }
  }
  .ant-form-item-row {
    display: flex;
    flex-direction: column;

    .ant-form-item-label {
      text-align: left;
      font-weight: 700;
      label {
        a {
          color: black;
          font-size: 13px;
          text-decoration: underline;
          font-style: italic;
        }
      }
    }
    .ant-form-item-control {
      flex: 1;
    }
  }

  .ant-form-item-required {
    &::before {
      right: 1px;
      top: 3px;
      font-size: 11px !important;
      position: absolute;
    }
    &::after {
      right: -8px;
    }
  }
  .ant-picker {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .auth_container {
    .img_auth {
      flex-basis: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        border-radius: 35px;
        height: 85%;
        width: 85%;
      }
    }
    .auth_form {
      flex-basis: 50%;
      padding: 30px 60px;
    }
  }
}
@media (max-width: 1024px) {
  .auth_container {
    .img_auth {
      display: none;
    }
    .auth_form {
      flex-basis: 70%;
      // padding: 20px 0px;
    }
  }
}
@media (max-width: 610px) {
  .auth_container {
    .auth_form {
      flex-basis: 100%;
      padding: 20px 20px;
      > form {
        gap: 0px;
      }
    }
  }
}
@media (max-width: 500px) {
  .auth_container {
    .auth_form {
      .ant-form-item-required {
        font-size: 12px;
      }
    }
  }
}
