@media (max-width: 600px) {
  .search-form {
    &.patient {
      .search-form-btn {
        flex-basis: 18%;
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          p {
            display: none;
          }
          svg {
            font-size: 22px;
          }
        }
      }
    }
  }
}
@media (max-width: 769px) {
  .search-form {
    &.patient {
      .search-form-btn {
        flex-basis: 18%;
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          svg {
            font-size: 22px;
          }
        }
        &.submit-btn {
        }
        &.add-btn {
          p {
            display: none;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 769px) {
  .search-form {
    &.patient {
      .search-form-btn {
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          p {
            font-size: 18px;
          }
          svg {
            font-size: 24px;
          }
        }
        &.submit-btn {
          flex-basis: 15%;
        }
        &.add-btn {
          flex-basis: 25%;
        }
      }
    }
  }
}
