.home-page {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 50vh; /* Chiều cao toàn bộ viewport hoặc điều chỉnh theo nhu cầu */
  overflow: hidden; /* Đảm bảo phần tử không bị tràn */
  color: #fff; /* Màu chữ trắng hoặc màu khác tùy thuộc vào hình nền */
  text-align: center; /* Căn giữa văn bản */
}

.hero-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto; /* Chiều cao tự động giữ tỷ lệ khung hình */
  max-height: 100%; /* Đảm bảo hình ảnh không vượt quá chiều cao của phần tử */
  object-fit: fill; /* Giữ nguyên tỷ lệ khung hình của hình ảnh */
  z-index: 1; /* Đặt hình ảnh nằm dưới nội dung */
  opacity: 0.2;
}

.hero-content {
  position: relative;
  z-index: 1; /* Đặt nội dung nằm trên hình ảnh nền */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Căn giữa nội dung theo chiều dọc */
  align-items: center; /* Căn giữa nội dung theo chiều ngang */
  height: 100%; /* Chiều cao đầy đủ của phần tử */
  padding: 0 20px; /* Padding cho nội dung */
}

.hero-section h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: black;
  font-weight: 600;
}

.hero-section p {
  font-size: 1.25rem;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.402);
}

.hero-section button {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 20px;
  transition: 0.3s;
  width: 150px;
}
.nav-toggle {
  border: none;
  background: #4cc9fe;
  color: #f5f4b3;
  &:hover {
    background: #37afe1;
    color: #fffecb;
  }
}
.appointment-toggle {
  border: 1px solid #4cc9fe;
  background: #4cc9fe;
  color: #01438d;
  background: none;
  &:hover {
    background: #37afe1;
    color: #fffecb;
  }
}

.short-brief-section-cover {
  display: flex;
  padding: 50px 200px;
  justify-content: space-between;
  .short-brief-img {
    flex-basis: 40%;
    img {
      width: 100%;
    }
  }
  .short-brief-content {
    flex-basis: 55%;
    text-align: left;
    p {
      color: rgba(0, 0, 0, 0.402);
    }
    .process-list {
      display: flex;
      justify-content: space-between;
      ul {
        list-style: none;
        padding-left: 0;
        flex-basis: 46%;

        li {
          font-size: 14px;
          position: relative;
          padding-left: 30px;
          padding-bottom: 20px;
          text-align: left;
          &::before {
            content: "✔"; /* You could use a checkmark as a "V" symbol */
            font-size: 0.9em;
            color: #37afe1; /* Set the color of the "V" */
            border: 2px solid #37afe1; /* Circle border color */
            border-radius: 50%; /* Make the border a circle */
            width: 15px; /* Adjust circle size */
            height: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 0;
          }
        }
      }
      .left-list {
        // padding-right: 20px;
        border-right: 1px dashed #37afe1;
      }
    }
  }
}

.statistic-key-section {
  display: flex;
  justify-content: space-between;
  padding: 0px 200px;
  .divider {
    width: 1px;
    background-color: #ccc;
  }
  .statistic-item {
    flex-basis: 30%;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 20px;
    p {
    }
    span {
      color: #37afe1;
      font-size: 35px;
      font-weight: 600;
      display: inline-block;
    }
  }
}

.features-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
  .feature {
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: #37afe1;
    box-shadow: 0px 10px 40px -5px rgba(0, 0, 0, 0.15);
    border-radius: 30px 40px 30px 30px;
  }
}

.feature h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.feature p {
  font-size: 1rem;
}

.get-service-section {
  margin: 30px 200px;
  padding-bottom: 20px;
  border-bottom: 0.8px solid #4cc9fe;
  > h1 {
    text-align: left;
    font-size: 15px;
    color: #37afe1;
  }
  .get-service-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      flex-basis: 30%;
      margin: 5px 0px;
      text-align: left;
    }
    p {
      flex-basis: 60%;
      text-align: left;
      color: rgba(0, 0, 0, 0.402);
      margin: 0px;
    }
  }
  .get-service-steps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
    .service-step {
      height: 140px;
      flex-basis: 20%;
      padding: 20px;
      box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.15);
      h4 {
        color: #d4d28f;
        margin: 0px;
        display: flex;
        align-items: end;
        justify-content: space-between;
        span {
          font-size: 30px;
          opacity: 0.6; // filter: blur(1px);
        }
      }
      p {
        font-size: 14px;
        text-align: left;
        color: #f5f4b3;
      }
    }
  }
}

.testimonials-section {
  background-image: url("https://tebewebe.online/brisdental/wp-content/uploads/sites/136/2024/10/Map-a.png");
  background-position: 50% 75%;
  background-repeat: no-repeat;
  background-size: 60% auto;
  height: 400px;
  padding: 30px 200px;
  .testimonials-header {
    > h4 {
      text-align: center;
      font-size: 15px;
      color: #37afe1;
    }
    p {
      color: rgba(0, 0, 0, 0.402);
    }
  }
  .testimonial-list {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    .comment {
      flex-basis: 28%;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: white;
      padding: 20px;
      border-radius: 20px;
      text-align: left;
      //animation
      transition: opacity 0.5s ease-out, transform 0.5s ease-out;
      span {
        color: #37afe1;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}

.cta-section {
  text-align: center;
  padding: 40px 20px;
  background-color: #e9ecef;
  border-radius: 8px;
}

.cta-section h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.cta-section p {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.cta-section button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta-section button:hover {
  background-color: #218838;
}

/* Responsive Design */
@media (max-width: 768px) {
  .features-section {
    flex-direction: column;
    align-items: center;
  }

  .feature {
    max-width: 90%;
  }

  .hero-section h1 {
    font-size: 2rem;
  }

  .hero-section p {
    font-size: 1rem;
  }

  .cta-section h2 {
    font-size: 1.5rem;
  }

  .cta-section p {
    font-size: 1rem;
  }
}

.features-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
}

.feature h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.feature p {
  font-size: 1rem;
}

.features-section-cover {
  h1 {
    text-align: center;
    font-size: 15px;
    color: #37afe1;
  }
  > p {
    font-size: 20px;
    font-weight: 600;
  }
  button {
    border: none;
    background: #4cc9fe;
    color: #f5f4b3;
    transition: 0.3s;
    cursor: pointer;
    padding: 20px 40px;
    font-size: 1.2rem;
    border-radius: 20px;
    &:hover {
      background: #37afe1;
      color: #fffecb;
    }
  }
}
.features-section {
  display: flex;
  // grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.feature {
  width: 350px;
  display: flex;
  align-items: center;
  margin: 0px auto;
  //   border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  //   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon {
  height: 80px;
  width: 80px;
  //   flex: 0 0 80px; /* Chiều rộng của vùng chứa biểu tượng */
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 50%;
}

.icon img {
  max-width: 80%;
  max-height: 80%;
}

.content {
  text-align: left;
  margin-left: 15px;
}

.content h3 {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  color: #49243e;
}

.content p {
  margin: 0;
  margin-top: 12px;
  font-size: 16px;
  font-weight: 600;
  color: #49243e;
}

/* BackgroundWithIcons.css */
.background-container-ft {
  background-color: rgb(163, 220, 242);
  color: white;
  margin-top: 30px;
  padding: 30px 120px;
  border-bottom: 0.4px solid #37afe1;

  .ft-header {
    display: flex;
    justify-content: space-between;
    .name {
      display: flex;
      width: fit-content;
      border-bottom: 0.4px solid #37afe1;
      img {
        border-radius: 12px;
        width: 200px;
        height: 100px;
      }
      .content {
        margin-left: 20px;
      }
    }
    .infor {
      width: 20%;
      h1 {
        text-align: left;
      }
      .infor-icon {
        display: flex;
        justify-content: space-between;
        .icon-cover {
          padding: 8px;
          border-radius: 100%;
          background-color: white;
          svg {
            color: #49243e;
            width: 30px;
            height: 30px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .ft-content {
    margin-top: 40px;
    text-align: left;
    p {
      padding-bottom: 10px;
      font-weight: 600;
    }
    .phone-icon {
      display: inline-block;
      animation: shake 0.5s ease-in-out infinite; /* Tạo hiệu ứng rung trong 0.5 giây */
      /* Chỉ rung một lần */
    }
  }
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.copyright {
  background-color: rgb(163, 220, 242);
  color: white;
  padding: 20px 120px;
  p {
    margin: 0px;
    font-size: 12px;
    text-align: left;
  }
}
